# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# VS Code
.vscode/

# Log files & Data
# Keep data out of git if it's large. For this project, it's okay to track it.
logs/
*.log

# Environment variables (just in case you add them later)
.env